@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
    
}
body a{
    text-decoration: none;
    color: #084298;
    
}
body p{
    margin: 0;
    padding: 0;
}


/* color: #084298;
color: #052c65; */

.text-dblue{
    color: #052c65;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
section{
    margin-bottom: 100px;
}

/* -----navigation------------------------------- */



.nav-item{
    padding: 5px 10px;
}
.mybtn{
    background: #0a58ca;
    border-radius: 25px;
    font-weight: 800;
}

/* ----------hero--------------------------------- */

#hero-section{
    background-image: url(assets/images/cityscape.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
#hero-editors{
    background: rgb(225, 225, 225);
    width: 350px;
}
/* ---------------trusted companies----------------------------------- */
#trusted-companies img{
    max-height: 50px;
    max-width: 120px;
}

/* ---------------------------------------------------------------- */
@media (max-width:576px){
    #smart-search{
        width: 500px;
        padding-top: 20px;
    }
    #app-features{
        position: relative;
    }
    #awesome{
        position: absolute;
        top: -100px;
        width: 100vw;
        padding-top: 10px;
    }
     #col2{
        display: flex;
        flex-direction: column;
        align-items: center; 
    } 
} 

/* --------------------------------------------------- */